@import './normalize.css';
@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&family=Pacifico&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;

  box-sizing: border-box;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;

  outline-color: $light;
  outline-offset: 0.3rem;
}

// Remove ugly style for links
a {
  text-decoration: none;
  color: inherit;
}

// Stuff that should look like everything else but doesn't
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;

  &::placeholder {
    color: inherit;
  }
}

button,
a,
input[type='submit'],
input[type='button'] {
  cursor: pointer;
}

//=== Global style

:root {
  font-size: 18px;
}

body {
  font-family: Cairo, 'Josefin Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  min-height: 100vh;

  color: $text;
  background-color: $background;
}

// Use flexbox always
div,
main,
section,
header,
footer,
form,
button {
  display: flex;
  align-items: flex-start;
}
