// Colors
$transparent: #00000000;

$good: #c4f500;
$light: #fce70d;
$main: #e6b517;
$strong: #fca20d;
$bad: #f26f0c;

$background: #fcfade;
$text: #8f5b07;

// Misc
$border-radius: 3px;
$make-light: hue-rotate(15deg) saturate(0.4) brightness(1.5);

@mixin fill {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
