// Colors
$transparent: #00000000;

$good: #C4F500;
$light: #FCE70D;
$main: #E6B517;
$strong: #FCA20D;
$bad: #F26F0C;

$background: #FCFADE;
$text: #8F5B07;

// Misc
$border-radius: 3px;
$make-light: hue-rotate(15deg) saturate(0.4) brightness(1.5);